@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Work Sans';
    src: url('../../public/fonts/WorkSans-Light.ttf');
    font-weight: 300;
  }

  @font-face {
    font-family: 'Work Sans';
    src: url('../../public/fonts/WorkSans-Regular.ttf');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Work Sans';
    src: url('../../public/fonts/WorkSans-Medium.ttf');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Work Sans';
    src: url('../../public/fonts/WorkSans-Semibold.ttf');
    font-weight: 600;
  }

  @font-face {
    font-family: 'Work Sans';
    src: url('../../public/fonts/WorkSans-Bold.ttf');
    font-weight: 700;
  }
}
