---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jordi Casesnoves">
  <main class="bg-gray-100 py-48 min-h-screen">
    <div class="max-w-4xl mx-auto h-full">
      <h1 class="text-4xl tracking-wide">Jordi Casesnoves</h1>
    </div>
  </main>
</Layout>
